<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="Static/CSS/index.css" rel="stylesheet" type="text/css" />
    <script src="../Static/JS/about.js"></script>
</head>
<!--SIDEBAR-->
<body>
<header id = "header-about">
    <h1>Страница о сайте</h1>
    <p>Описание проекта находится здесь.
    Все трансляции взяты с ютуба</p>
</header>
<div class="reviews">
    <div class="review-button">
        <button onclick="makeComment()">Оставить отзыв</button>
    </div>
    <div class="comments">
        
    </div>
</div>
</body>
<!--FOOTER-->
</html>